<h2>Todos page</h2>

{{#if todos.length}}
<ul>
    {{#each todos}}
        <li class="todo">
            <label>
                {{#if status}}
                <input type="checkbox" checked>
                <span class="comleted">{{content}}</span>
                {{else}}
                <input type="checkbox">
                <span>{{content}}</span>
                {{/if}}
                

                <button class="btn btn-small">Save</button>
            </label>
        </li>
    {{/each}}
</ul>
{{else}}
<p>No todos!</p>
{{/if}}